/* 
body 20px border
explicit width

border color: #bdc3c7
date color: #3498db;
h2 color: #2c3e50;

font: source sans pro

left border on first paragraph

hr - horizontal rule -> styles
*/

body{
    font-family: Source Sans Pro;
    margin: 20px auto;
    border: 20px solid #bdc3c7;
    max-width: 700px;
    width: 80%;
    padding: 20px;
}

.specialDate{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #3498db;
}

.firstParagraph{
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}

h2{
    color: #2c3e50;
    font-weight: bold;
    font-size: 2.0rem;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.post{
    margin-bottom: 20px;
}